*{
    margin:20px auto;
    width:60%;
    background-color: aliceblue;
}
.gridcontainer{
    display:grid;
    justify-content: space-evenly;
    grid-template-columns:repeat(4, 100px);
    align-items:center;

}
.gridcontainer__item{
    border-style:none;
    height:100%;
    padding:20px;
    font-size: 2em;
    width:100%;
}
.gridcontainer__row1first3item{
    color:aqua;
}
.gridcontainer__col5{
    color:brown;
}
.gridcontainer__col5--divide{
    width:100%;
    color:brown;
}


.gridcontainer__item:hover,
:focus {
    background-color:black;
    color: darkgray;
    cursor: pointer
}


.output{
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  